@font-face {
  font-family: 'JetBrains Mono';
  src: url('/fonts/JetBrainsMono-VariableFont_wght.ttf');
}

@layer base {
  :root {
    --text: #160029;
    --background: #f0e0ff;
    --primary: #480193;
    --secondary: #fe62a8;
    --accent: #d00108;
  }
  .dark {
    --text: #ecd6ff;
    --background: #10001f;
    --primary: #b36cfe;
    --secondary: #9d0147;
    --accent: #fe2f36;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;
